services:
  build-mf-home:
    build:
      context: ./microservices/home
      dockerfile: Dockerfile
    volumes:
      - mf-home-dist:/app/dist

  nginx:
    build: .
    ports:
      - 8080:80
    container_name: server
    volumes:
      - mf-home-dist:/usr/share/nginx/html/mf-home:ro
    depends_on:
      - build-mf-home

volumes:
  mf-home-dist: