services:
  build-mf-home:
    build:
      context: ./microservices/home
      dockerfile: Dockerfile
    image: vertex/tim-varejo-mf-home
    volumes:
      - mf-home-dist:/app/dist
  # build-core:
  #   build:
  #     context: ./packages/core
  #     dockerfile: Dockerfile
  #   image: vertex/core-packages
  #   volumes:
  #     - core-dist:/app/dist
  build-core:
    build:
      context: ./packages/core
      dockerfile: Dockerfile
      target: export-dist
    image: vertex/core-packages
    volumes:
      - core-dist:/dist

  nginx:
    build: .
    ports:
      - 8080:80
    container_name: server
    image: vertex/tim-varejo-nginx
    volumes:
      - mf-home-dist:/usr/share/nginx/html/mf-home:ro
      - core-dist:/usr/share/nginx/html/core:ro
    depends_on:
      - build-mf-home
      - build-core

volumes:
  mf-home-dist:
  core-dist: